<mat-card class="chat-container">
	@for (message of this.messages; track message) {
		<mat-card-content class="chat-message user-message">
			<mat-icon>person</mat-icon>
			{{ message.response }}
		</mat-card-content>
		<mat-card-content class="chat-message bot-message">
			<mat-icon>smart_toy</mat-icon>
			{{ message.utterance }}
		</mat-card-content>
	} @empty {
		<mat-card-content>
			<mat-card-subtitle>No messages created yet</mat-card-subtitle>
		</mat-card-content>
	}
	<form style="display: inline; margin: 1rem" [formGroup]="messageForm"
				(ngSubmit)="addMessage()">
		<!-- Add more chat messages here -->
		<div class="chat-input">

			<!--			<button mat-icon-button color="primary">-->
			<!--				<mat-icon>smart_toy</mat-icon>-->
			<!--			</button>-->
			<mat-form-field appearance="fill" style=" align-content: flex-end; align-self: flex-end; ">
				<mat-label>
					<mat-icon>person</mat-icon>
					User says
				</mat-label>

				<input matInput id="userMessage" type="text" formControlName="userMessage">
			</mat-form-field>
			<mat-divider [inset]="true"></mat-divider>

			<mat-form-field appearance="fill" style="align-self: flex-start; ">
				<mat-label>
					<mat-icon>smart_toy</mat-icon>
					Bot Says
				</mat-label>
				<input matInput id="botMessage" type="text" formControlName="botMessage">
			</mat-form-field>
			<!--			<button mat-icon-button color="primary">-->
			<!--					<mat-icon>person add</mat-icon>-->
			<!--			</button>-->
			<button mat-icon-button type="submit" color="primary" style="">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	</form>
</mat-card>
