.chat-container {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    /*padding: 5px;*/
}

.messages-and-dialog-flow {
    display: flex;
    flex-direction: row;
}


.dialog-flow-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    margin: 0;
    /*align-self: flex-end;*/
    padding: 0;
}

.chat-message {
    display: flex;
    flex-direction: column;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 10px;
}

.fall-back-button {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    /*margin: 0;*/
    align-items: start; /* Center aligns the button vertically */
}

.bot-message {
    /*align-content: baseline;*/
    align-self: end;
    background-color: #e6e6e6;
    /*color: white;*/
}

.user-message {
    /*align-content: baseline;*/
    align-self: start;
    background-color: #0084ff;
    color: white;
}

.chat-input {
    display: flex;
    /*justify-content: space-between;*/
    margin: 2rem 0.5rem 1rem 0.5rem;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    flex-grow: 1;
}
@media screen and (max-width: 900px) {
    .chat-input {
        flex-wrap: wrap;
    }
}

.chat-input mat-form-field {
    flex: 1 1 auto;
    min-width: 10px;
}

.chat-input button {
    /*padding: 10px 20px;*/
    align-content: center;
    margin-left: 1rem;
    border: none;
    border-radius: 10px;
}

.blue-button {
    background-color: #0084ff;
    color: white;
}
