<mat-card class="chat-container">
	@for (messageGroup of messagesFormArray.controls; track messageGroup; let i = $index; ) {
		@if (isEditing) {
			<form [formGroup]="updateForm">
				<ng-container formArrayName="messages">
					<!--Edit message form-->
					<div [formGroupName]="i" class="chat-input">
						<mat-form-field appearance="fill" style=" align-content: flex-end; align-self: flex-end; ">
							<mat-label>User says</mat-label>
							<input matInput formControlName="userMessage">
						</mat-form-field>
						<mat-divider [inset]="true"></mat-divider>
						<mat-form-field appearance="fill" style=" align-content: flex-end; align-self: flex-end; ">
							<mat-label>Bot Says</mat-label>
							<input matInput formControlName="botMessage">
						</mat-form-field>
						<div style="display: inline;">
							<button mat-icon-button (click)="updateMessage(i, messages[i])" color="primary" style="color: green">
								<mat-icon>check</mat-icon>
							</button>
							<button mat-icon-button (click)="deleteMessage(i, messages[i])" color="primary" style="color: red">
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</div>
				</ng-container>
			</form>
		} @else {
			<!--Display messages-->
			<div class="messages-and-dialog-flow">
				<div style="display: flex; flex-direction: row;">
					<mat-card-content class="chat-message user-message">
						<mat-icon>person</mat-icon>
						{{ messageGroup.get('userMessage')?.value }}
					</mat-card-content>
					<mat-card-content class="chat-message bot-message">
						<mat-icon>smart_toy</mat-icon>
						{{ messageGroup.get('botMessage')?.value }}
					</mat-card-content>
				</div>
				<mat-divider [vertical]="true" style="margin-left: auto"></mat-divider>
				<!--Dialog Flow-->
				<mat-card-content class="dialog-flow-container">
						<mat-form-field>
							<mat-label>Continuation</mat-label>
							<mat-select [value]="getContinuationFormValue(messages[i])" (selectionChange)="onContinuationChange(messages[i], $event)" matTooltip="Display next message or await response">
								<mat-option value="next" matTooltipPosition="right" matTooltip="Directly provide the next message below">
									Next Message
								</mat-option>
								<mat-option value="await" matTooltipPosition="right" matTooltip="Awaits until user provides a response">
									Await User Response
								</mat-option>
<!--								<mat-option value="context" matTooltipPosition="right" matTooltip="Switch to another Context">-->
<!--									Follow with Context-->
<!--								</mat-option>-->
							</mat-select>
						</mat-form-field>

						<mat-form-field>
							<mat-label>Contextualisation</mat-label>
							<mat-select [(value)]="messages[i].contextualisation" matTooltip="Switch to another Context">
								@for (context of selectedCharacter.contexts; track context; ) {
									<mat-option [value]="context.name">{{ context?.name }}</mat-option>
								}
							</mat-select>
						</mat-form-field>

				</mat-card-content>
			</div>
			<mat-divider></mat-divider>
		}
	} @empty {
		<!--Empty For loop-->
		<mat-card-content>
			<mat-card-subtitle>No messages created yet</mat-card-subtitle>
		</mat-card-content>
	}

	<form style="display: inline;" [formGroup]="addMessageForm" (ngSubmit)="addMessage()">
		<!-- Add more chat messages here -->
		<div class="chat-input">
			<mat-form-field appearance="fill" style=" align-content: flex-end; align-self: flex-end; ">
				<mat-label>
					<mat-icon>person</mat-icon>
					User says
				</mat-label>
				<input matInput id="userMessage" type="text" formControlName="userMessage">
			</mat-form-field>
			<mat-divider [inset]="true"></mat-divider>

			<mat-form-field appearance="fill" style="align-self: flex-start; ">
				<mat-label>
					<mat-icon>smart_toy</mat-icon>
					Bot Says
				</mat-label>
				<input matInput id="botMessage" type="text" formControlName="botMessage">
			</mat-form-field>
			<button mat-icon-button type="submit" matTooltip="Remember to 'Save' your new messages" color="primary" class="blue-button">
				<mat-icon>add</mat-icon>
			</button>
		</div>
	</form>

	<button mat-icon-button type="button" color="primary" (click)="toggleEdit()"
					[style]="isEditing ? 'background-color: lightblue;': 'background-color: white;'">
		<mat-icon>edit</mat-icon>
	</button>
</mat-card>
