<mat-card class="chat-container">
	@if (isEditing) {
		<!--Edit message form-->
		<form [formGroup]="updateForm">
			<ng-container formArrayName="messages">
				@for (messageGroup of messagesFormArray.controls; track messageGroup; let i = $index; ) {
					<div [formGroupName]="i" class="chat-input">
						<mat-form-field appearance="fill" style=" align-content: flex-end; align-self: flex-end; ">
							<mat-label>User says</mat-label>
							<input matInput formControlName="userMessage">
						</mat-form-field>
						<mat-divider [inset]="true"></mat-divider>
						<mat-form-field appearance="fill" style=" align-content: flex-end; align-self: flex-end; ">
							<mat-label>Bot Says</mat-label>
							<input matInput formControlName="botMessage">
						</mat-form-field>
						<div style="display: inline;">
							<button mat-icon-button (click)="updateMessage(i, messages[i])" color="primary" style="color: green">
								<mat-icon>check</mat-icon>
							</button>
							<button mat-icon-button (click)="deleteMessage(i, messages[i])" color="primary" style="color: red">
								<mat-icon>delete</mat-icon>
							</button>
						</div>
					</div>
				}
			</ng-container>
		</form>
	} @else {
		@for (message of this.messages; track message; let i = $index) {

			<mat-card-content class="chat-message user-message">
				<mat-icon>person</mat-icon>
				{{ message.utterance }}
			</mat-card-content>
			<mat-card-content class="chat-message bot-message">
				<mat-icon>smart_toy</mat-icon>
				{{ message.response }}
			</mat-card-content>
		} @empty {
			<!--Empty For loop-->
			<mat-card-content>
				<mat-card-subtitle>No messages created yet</mat-card-subtitle>
			</mat-card-content>
		}


		<form style="display: inline; margin: 1rem" [formGroup]="messageForm" (ngSubmit)="addMessage()">
			<!-- Add more chat messages here -->
			<div class="chat-input">
				<mat-form-field appearance="fill" style=" align-content: flex-end; align-self: flex-end; ">
					<mat-label>
						<mat-icon>person</mat-icon>
						User says
					</mat-label>
					<input matInput id="userMessage" type="text" formControlName="userMessage">
				</mat-form-field>
				<mat-divider [inset]="true"></mat-divider>

				<mat-form-field appearance="fill" style="align-self: flex-start; ">
					<mat-label>
						<mat-icon>smart_toy</mat-icon>
						Bot Says
					</mat-label>
					<input matInput id="botMessage" type="text" formControlName="botMessage">
				</mat-form-field>
				<button mat-icon-button type="submit" color="primary" class="blue-button">
					<mat-icon>add</mat-icon>
				</button>
			</div>

		</form>
	}
	<button mat-icon-button type="button" color="primary" (click)="toggleEdit()"
					[style]="isEditing ? 'background-color: lightblue;': 'background-color: white;'">
		<mat-icon>edit</mat-icon>
	</button>
</mat-card>
