<div>
	<span id="chatbotDiv"></span>
<!--	<button  mat-raised-button color="primary" (click)="mountChainlitWidget(this.selectedCharacter.id)">-->
<!--	Activate Chainlit Copilot-->
<!--</button>-->
</div>

<mat-card-header>
	<mat-form-field appearance="outline">
		<mat-label>Select Character</mat-label>
		<mat-select #characterSelection (selectionChange)="this.setIframeForChatbot(this.selectedCharacter.id)"
								[(ngModel)]="selectedCharacter"
								> <!--[compareWith]="compareCharactersFunction"-->
			@for (character of characters; track character; ) {
				<mat-option [value]="character">{{ character.name }}</mat-option>
			}
		</mat-select>
	</mat-form-field>
</mat-card-header>

<div>
	<ng-container *ngIf="isChatbotRunning else ChatbotNotRunning">
		<iframe #chatbotFrame width="100%" height="600px" [frameBorder]="0"></iframe>
	</ng-container>
	<ng-template #ChatbotNotRunning>
		<h3>Chatbot is currently under development</h3>
	</ng-template>
</div>
