<form style="display: inline; margin: 1rem" id="">
	<mat-card class="chat-container">
		@for (dialogue of this.dialogues; track dialogue) {
			<mat-card-content class="chat-message bot-message">
				<mat-icon>smart_toy</mat-icon>
				{{ dialogue.utterance }}
			</mat-card-content>
			<mat-card-content class="chat-message user-message">
				<mat-label>
					<mat-icon>person</mat-icon>
				</mat-label>

				{{ dialogue.response }}
			</mat-card-content>
		} @empty {
			<mat-card-content>
				<mat-card-subtitle>No dialogue created yet</mat-card-subtitle>
			</mat-card-content>
		}

		<!-- Add more chat messages here -->
		<div class="chat-input">
			<mat-form-field appearance="fill" style="align-self: flex-start; ">

				<mat-label>
					<mat-icon>smart_toy</mat-icon>
					Bot Says
				</mat-label>
				<input matInput #botMessage>
			</mat-form-field>
			<button mat-icon-button color="primary">
				<mat-icon>add</mat-icon>
			</button>
			<mat-form-field appearance="fill" style=" align-content: flex-end; align-self: flex-end; max-width: 70%;">
				<mat-label>
					<mat-icon>person</mat-icon>
					User answers
				</mat-label>
				<input matInput #userMessage>
			</mat-form-field>
			<button mat-icon-button color="primary">
				<mat-icon>add</mat-icon>
			</button>
			<button mat-icon-button color="primary" (click)="addDialogue(botMessage.value, userMessage.value)">
				<mat-icon>send</mat-icon>
			</button>

		</div>
	</mat-card>
</form>
