<form style="display: inline; margin: 1rem" id="">
    <mat-card class="chat-container">
        @for (dialogue of this.DIALOGUE; track dialogue) {
            <mat-card-content class="chat-message bot-message">
                <mat-icon>smart_toy</mat-icon>
                {{ dialogue.utterance }}
            </mat-card-content>
            <mat-card-content class="chat-message user-message">
                <mat-label>
                    <mat-icon>person</mat-icon>
                </mat-label>

                {{ dialogue.response }}
            </mat-card-content>

        } @empty {
            <mat-card-subtitle>No messages yet</mat-card-subtitle>
        }
        <!-- Add more chat messages here -->
        <div class="chat-input">
            <mat-form-field appearance="fill"
                            style="align-self: flex-start; ">
                <mat-label>Bot Says</mat-label>
                <input matInput #botMessage>
            </mat-form-field>
            <mat-form-field appearance="fill" style=" align-content: flex-end;
    align-self: flex-end; max-width: 70%;">
                <mat-label>User answers</mat-label>
                <input matInput #userMessage>
            </mat-form-field>

            <button mat-icon-button color="primary" (click)="addMessage(botMessage.value, userMessage.value)">
                <mat-icon>send</mat-icon>
            </button>
        </div>
    </mat-card>
</form>
