<div fxLayout="column">
	<ng-container *ngIf="!createNewContext; else updateContextTitle">
		<h3>Configure context</h3>
	</ng-container>
	<ng-template #updateContextTitle>
		<h3>Configure new dialogue</h3>
	</ng-template>

	<form [formGroup]="contextForm" fxLayout="column" (ngSubmit)="onSubmit()">
		<mat-form-field hintLabel="A context refers to a part of a conversation between a stakeholder and a student.">
			<mat-label>Name</mat-label>
			<input matInput id="name" type="text" formControlName="name" placeholder="Ex. Start; Interview; Option;">
		</mat-form-field>

			<!--(messageChange)="updateMessage($event)"-->
		<app-game-context-message	[selectedCharacter]="selectedCharacter"
															[selectedContext]="selectedContext">
		</app-game-context-message>

		<div fxLayout="row">
			<div style="margin: 1em 1em 1em 1em;" *ngIf="selectedContext">
				<button mat-raised-button color="primary" type="submit">Save</button>
			</div>
			<div style="margin: 1em 1em 1em 1em;" *ngIf="!createNewContext">
				<button mat-raised-button color="warn" (click)="deleteContext()" type="button">Delete</button>
			</div>
		</div>

	</form>

</div>
