<div fxLayout="column">
	<ng-container *ngIf="!createNewContext; else updateContextTitle">
		<h3>Configure context</h3>
	</ng-container>
	<ng-template #updateContextTitle>
		<h3>Configure new dialogue</h3>
	</ng-template>

	<form [formGroup]="contextForm" fxLayout="column" (ngSubmit)="onSubmit()">

		<mat-form-field>
			<mat-label>Name</mat-label>
			<input matInput id="name" type="text" formControlName="name" placeholder="Ex. Start; Interview; Option;">
			<mat-hint align="start">A dialogue is a conversation between a stakeholder and a student. A dialogue refers
				to the specific situation, environment, or
				scenario in which the conversation takes place.
			</mat-hint>
		</mat-form-field>

			<!--(messageChange)="updateMessage($event)"-->
		<app-game-context-message	[selectedCharacter]="selectedCharacter"
															[selectedContext]="selectedContext"
															[messages]="selectedContext.messages">
		</app-game-context-message>

		<mat-form-field>
			<mat-label>Select next context/topic</mat-label>
			<mat-select [(value)]="this.selectedContext.name">
				@for (context of this.selectedCharacter.contexts; track context; let isFirst = $first) {
					<mat-option [value]="context.id">
						{{ context.name }}
					</mat-option>
				}
			</mat-select>
			<mat-hint>The bot will switch to the selected topic once the current one is finished.</mat-hint>
		</mat-form-field>

		<div fxLayout="row">
			<div style="margin: 1em 1em 1em 1em;" *ngIf="selectedContext">
				<button mat-raised-button color="primary" type="submit">Save</button>
			</div>
			<div style="margin: 1em 1em 1em 1em;" *ngIf="!createNewContext">
				<button mat-raised-button color="warn" (click)="deleteContext()" type="button">Delete</button>
			</div>
		</div>

	</form>

</div>
